.div-navbar{
  width: 100%;
}

.ul-navbar{
  display: flex;
  list-style-type: none;
  align-items: baseline;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 24px;
  font-size: 24px;
  color: #303236;
}

.navbar{
  background-color: bisque;
}